div.fc-daygrid-day-events{
    padding:0px!important;
    margin:0px!important;
    text-align: center;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 2em;
    position: relative;
    padding:0px!important;
    margin:0px!important;
    text-align: center;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events{
    padding:0px!important;
    margin:0px!important;
    text-align: center;
}

.fc .fc-daygrid-body-natural .fc-daygrid-day-events{
    padding:0px!important;
    margin:0px!important;
    text-align: center;
}